# managed by ansible
# make sure to commit any local changes to the repo
# host: {{ ot_host_name }}

ict-amazon-tunnels
ExitOnForwardFailure yes

Host ict-amazon ict-amazon-tunnels
HostName {{ ot_hosts_ict_hostname }}
User {{ ot_hosts_ict_username }}
IdentityFile ~/.ssh/keys/auto-front.pem